<div class="card" id="chatContainer" style="display:none">
    <div class="card-header bg-teal bg-inverse">
    <img class="img-avatar img-avatar-48" src="/usersImg/dalimchy.jpg" alt="User profile pic">
        <h3 class="chat_page_title" id="conversation_title">Demo Name</h4>
        <i onclick="closeRighSection('chatPage')" class="ion-android-close fa-2x close_chat"></i>
    </div>
    <div class="card-block">
        <div class="chat-block">
            <div class="row">
                <div class="col-sm-1">
                    <img class="img-avatar img-avatar-48" src="/usersImg/dalimchy.jpg" alt="User profile pic">
                </div>
                <div class="col-sm-11">
                    <div class="row">
                        <h3 class="msg-sendar-name">Bootstrap Grid</h3>
                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus
                            ante justo arcu erat accumsan adipiscing risus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <img class="img-avatar img-avatar-48" src="/usersImg/dalimchy.jpg" alt="User profile pic">
                </div>
                <div class="col-sm-11">
                    <div class="row">
                        <h3 class="msg-sendar-name">Bootstrap Grid</h3>
                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus
                            ante justo arcu erat accumsan adipiscing risus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <img class="img-avatar img-avatar-48" src="/usersImg/dalimchy.jpg" alt="User profile pic">
                </div>
                <div class="col-sm-11">
                    <div class="row">
                        <h3 class="msg-sendar-name">Bootstrap Grid</h3>
                        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus
                            ante justo arcu erat accumsan adipiscing risus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row write_msg" id="">
            <div class="col-sm-12">
                <div class="form-material floating">
                    <input class="form-control" onkeyup="writeMsg(event)" id="writeMsgInput" type="text"  name="contact3-firstname">
                        <label for="contact3-firstname">Write message here ...</label>
                    </div>
            </div>
        </div>
    </div>
</div>